{{jump-to-ticket}}

<p>
Ticket Show
</p>

{{#if model}}
  <ul>
    <li>Subject: {{model.subject}}</li>
    <li>requestors:      {{model.requestors}}</li>
    <li>owner:           {{model.owner}}</li>
    <li>adminCc:         {{model.adminCc}}</li>
    <li>cc:              {{model.cc}}</li>
    <li>cfUaDevCodebase: {{model.cfUaDevCodebase}}</li>
    <li>created:         {{model.created}}</li>
    <li>creator:         {{model.creator}}</li>
    <li>due:             {{model.due}}</li>
    <li>finalPriority:   {{model.finalPriority}}</li>
    <li>initialPriority: {{model.initialPriority}}</li>
    <li>lastUpdated:     {{model.lastUpdated}}</li>
    <li>priority:        {{model.priority}}</li>
    <li>queue:           {{model.queue}}</li>
    <li>resolved:        {{model.resolved}}</li>
    <li>started:         {{model.started}}</li>
    <li>starts:          {{model.starts}}</li>
    <li>status:          {{model.status}}</li>
    <li>timeEstimated:   {{model.timeEstimated}}</li>
    <li>timeLeft:        {{model.timeLeft}}</li>
    <li>timeWorked:      {{model.timeWorked}}</li>
    <li>told:            {{model.told}}</li>
  </ul>
{{/if}}

{{outlet}}