<div class="email-item-group">
    {{#each results as |ticket|}}
        {{#link-to 'search.show.ticket' ticket.id tagName="div" class="email-item" href=false}}
            {{#link-to 'search.show.ticket' ticket.id}}
                {{! <div class="email-item email-item-selected pure-g"> }}
                {{email-avatar avatarType='color' emailAddress=ticket.requestors}}
                <p class="email-name">{{ticket.requestors}}</p>
                <p class="email-subject">{{ticket.subject}}</p>
                <p class="email-right">
                    {{ticket.relativeTimeAgo}}
                </p>
                <p class="email-desc">
                    <span class="label label-default">
                        {{ticket.queue}}
                    </span>
                    &nbsp;
                    <span class="label label-default">
                        {{ticket.status}}
                    </span>
                </p>
            {{/link-to}}
        {{/link-to}}
    {{/each}}
</div>

{{yield}}
