<div id="main">

    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-default btn-sm" {{action "reloadTicket"}}>
                <i class="fa fa-refresh"></i>Refresh
            </a>
            <h4 class="email-content-title">{{model.subject}}</h4>
            <p class="email-content-subtitle">
                From <a>{{model.requestors}}</a> at <span>{{model.created}}</span>
            </p>
            <ul>
                <li>Subject:         {{model.subject}}</li>
                <li>requestors:      {{model.requestors}}</li>
                <li>owner:           {{model.owner}}</li>
                <li>adminCc:         {{model.adminCc}}</li>
                <li>cc:              {{model.cc}}</li>
                <li>cfUaDevCodebase: {{model.cfUaDevCodebase}}</li>
                <li>creator:         {{model.creator}}</li>
                <li>due:             {{model.due}}</li>
                <li>finalPriority:   {{model.finalPriority}}</li>
                <li>initialPriority: {{model.initialPriority}}</li>
                <li>priority:        {{model.priority}}</li>
                <li>queue:           {{model.queue}}</li>
                <li>starts:          {{model.starts}}</li>
                <li>status:          {{model.status}}</li>
                <li>timeEstimated:   {{model.timeEstimated}}</li>
                <li>timeLeft:        {{model.timeLeft}}</li>
                <li>timeWorked:      {{model.timeWorked}}</li>

                <li>created:         {{moment-from-now model.created}}</li>
                <li>started:         {{model.started}}</li>
                <li>told:            {{model.told}}</li>
                <li>lastUpdated:     {{model.lastUpdated}}</li>
                <li>resolved:        {{model.resolved}}</li>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            {{! #each model.attachments as |attachment|}}
            {{! <pre> }}
            {{! attachments.body}}
            {{! </pre> }}
            {{! /each}}
            {{#each model.messages as |message|}}
                <h4 class="email-content-title">{{message.title}}</h4>
                {{! <p class="email-content-subtitle"> }}
                {{!   From <a>Tilo Mitra</a> at <span>3:56pm, April 3, 2012</span> }}
                {{! </p> }}
                <button class="secondary-button pure-button">Reply</button>
                <button class="secondary-button pure-button">Forward</button>
                <button class="secondary-button pure-button">Move to</button>
                {{#each message.emails as |email|}}
                    <pre>{{email.body}}
                    </pre>
                {{/each}}
            {{/each}}
        </div>
    </div>


</div>

{{outlet}}
