<div id="main">

    <div class="row">
        <div class="col-xs-12">
            <h4 class="email-content-title">{{model.subject}}</h4>

            <div class="ticket-toolbar btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                    <a class="btn btn-default btn-sm" {{action "reloadTicket"}}>
                        <i class="fa fa-refresh"></i>Refresh
                    </a>
                </div>
            </div>

            <p class="email-content-subtitle">
                From <a>{{model.requestors}}</a>
                <span class="hint--bottom" data-hint="Created: {{model.created}}">
                    <i class="fa fa-calendar"></i>
                    {{moment-from-now model.created}}
                </span>
            </p>

            <div class="col-xs-3 hint--bottom pull-left" data-hint="ID">
                <i class="fa fa-info-circle"></i> {{model.id}}
            </div>
            <div class="col-xs-3 hint--bottom pull-left" data-hint="Owner">
                <i class="fa fa-user-md"></i> {{model.owner}}
            </div>
            <!-- <div class="col-xs-3 hint--bottom pull-left" data-hint="adminCc">
            <i class="fa fa-refresh"></i> {{model.adminCc}}
            </div>
            <div class="col-xs-3 hint--bottom pull-left" data-hint="cc">
            <i class="fa fa-refresh"></i> {{model.cc}}
            </div>
            <div class="col-xs-3 hint--bottom pull-left" data-hint="ID">
            <i class="fa fa-refresh"></i> {{model.cfUaDevCodebase}}
            </div>
            <div class="col-xs-3 hint--bottom pull-left" data-hint="ID">
            <i class="fa fa-refresh"></i> creator:         {{model.creator}}
            </div>
            <div class="col-xs-3 hint--bottom pull-left" data-hint="ID">
            <i class="fa fa-refresh"></i> due:             {{model.due}}
            </div>
            <div class="col-xs-3 hint--bottom pull-left" data-hint="ID">
            <i class="fa fa-refresh"></i> finalPriority:   {{model.finalPriority}}
            </div>
            <div class="col-xs-3 hint--bottom pull-left" data-hint="ID">
            <i class="fa fa-refresh"></i> initialPriority: {{model.initialPriority}}
            </div>
            <div class="col-xs-3 hint--bottom pull-left" data-hint="ID">
            <i class="fa fa-refresh"></i> priority:        {{model.priority}}
            </div> -->
            <div class="col-xs-3 hint--bottom pull-left" data-hint="Queue">
                <i class="fa fa-stack-overflow"></i> {{model.queue}}
            </div>
            <!-- <div class="col-xs-3 hint--bottom pull-left" data-hint="ID">
            <i class="fa fa-refresh"></i> starts:          {{model.starts}}
            </div>
            <div class="col-xs-3 hint--bottom pull-left" data-hint="ID">
            <i class="fa fa-refresh"></i> status:          {{model.status}}
            </div>
            <div class="col-xs-3 hint--bottom pull-left" data-hint="ID">
            <i class="fa fa-refresh"></i> timeEstimated:   {{model.timeEstimated}}
            </div>
            <div class="col-xs-3 hint--bottom pull-left" data-hint="ID">
            <i class="fa fa-refresh"></i> timeLeft:        {{model.timeLeft}}
            </div>
            <div class="col-xs-3 hint--bottom pull-left" data-hint="ID">
            <i class="fa fa-refresh"></i> timeWorked:      {{model.timeWorked}}
            </div>
            <div class="col-xs-3 hint--bottom pull-left" data-hint="ID">
            <i class="fa fa-refresh"></i> started:         {{model.started}}
            </div>
            <div class="col-xs-3 hint--bottom pull-left" data-hint="ID">
            <i class="fa fa-refresh"></i> told:            {{model.told}}
            </div>
            <div class="col-xs-3 hint--bottom pull-left" data-hint="ID">
            <i class="fa fa-refresh"></i> lastUpdated:     {{model.lastUpdated}}
            </div>
            <div class="col-xs-3 hint--bottom pull-left" data-hint="ID">
            <i class="fa fa-refresh"></i> resolved:        {{model.resolved}}
            </div>
            -->
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            {{#each model.messages as |message|}}

                <div class="email-item-group">
                    {{#each message.emails as |email|}}

                        {{#if email.isAnEmail }}
                            <div class="email-item">
                                <p class="pull-right">
                                    <span class="hint--left" data-hint="{{email.created}}">
                                        <i class="fa fa-clock-o"></i>
                                        {{moment-from-now email.created}}
                                    </span>
                                </p>
                                <i class="fa fa-{{email.iconClass}}"></i>
                                {{email.description}}
                                <pre>{{email.content}}</pre>
                            </div>
                        {{else}}
                            <div class="email-update">
                                <p class="pull-right">
                                    <span class="hint--left" data-hint="{{email.created}}">
                                        <i class="fa fa-clock-o"></i>
                                        {{moment-from-now email.created}}
                                    </span>
                                </p>
                                <i class="fa fa-{{email.iconClass}}"></i>
                                {{email.description}}
                            </div>
                        {{/if}}

                    {{/each}}
                </div>

            {{/each}}
        </div>
    </div>


</div>

{{outlet}}
