{{#my-modal title="Edit Search" ok="saveSearch" close="removeModal"}}

    <form {{action "saveSearch" on="submit"}}>

        <div class="form-group">
            <label for="name">Name</label>
            {{input value=searchRecord.name id="name" class="form-control"}}
        </div>

        <div class="form-group">
            <label for="query">Query</label>
            {{textarea cols="80" rows="6" value=searchRecord.rtquery id="query" class="form-control"}}
        </div>

        <div class="form-group">
            <label for="orderby">Order By</label>
            {{input value=searchRecord.rtorderby id="orderby" class="form-control"}}
        </div>

    </form>
    {{#if errorMessage}}
        <div class="alert alert-danger">
            {{errorMessage}}
        </div>
    {{/if}}

    {{yield}}
{{/my-modal}}
